{% extends 'base.html.twig' %}

        {% block header %} 
          
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">


        {% endblock %} 


    
    
{% block body %}


<div>
    <div class="hero">
        <div class="section1 vertical-container">
            <div class="in-vertical">
                <div class="logo-menu">
                    <div class="logo">
                        <span>W</span>
                        <span>flipp</span>
                    </div>
                </div>
                <div class="explore">
                    <h2>explore</h2>
                    <h2>full lineup</h2>
                </div>
            </div>
            <div class="date">
                <div class="in-date">
                    <h1>DRESS</h1>
                    <h1>EXPRESS</h1>
                    <h1>IMPRESS</h1>
                </div>
            </div>
        </div>
        <div class="section2">
            <div class="image"> 
                <video class="videoInsert" autoplay muted loop>
                    <source src="prada.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="bottom">
                <div class="blanc"></div>

                <div class="blocks">
                   <!-- Put a slider here slider -->
                    <img src="./images/women.jpg" alt="">
                    <!-- <img src="white.jpg" alt="">
                    <img src="tomas.jpg" alt=""> -->
                </div>
                <div class="list header" id="myHeader">
                    <ul>
                        <a href="#nouveaute"><li>Nouveaute</li></a>
                        <a href="/women"><li>Femmes</li></a>
                        <a href="/men"><li>Hommes</li></a>
                        <a href="/acc"><li>Accessoires</li></a>
                        <a href="/panier"><li>panier </li></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="under" id="nouveaute">
                {# <div class="p1">
                    <div class="lookbook">
                        <div class="col1">
                            <h1>Veste de costume <br> à rayures</h1>
                            <div class="detail-photos">
                                <div class="box one"><img src="./images/dude.png" alt=""></div>
                                <div class="box two"><img src="./images/dude.png" alt=""></div>
                                <div class="box three"><img src="./images/dude.png" alt=""></div>
                            </div>
                        </div>
                        <div class="col2">
                            <div class="center-img">
                                <img src="./images/dude.png" alt="">
                            </div>
                        </div>
                        <div class="col3">
                            <h1>97 $</h1>
                            <p>Viens par ici, on a des choses à se dire. Cette veste est un modèle blazer à coupe ample offrant des revers crantés,
                                deux poches décoratives à l'avant, une fermeture à double boutonnage ainsi qu'un imprimé à rayures.</p>
                            <p>Meduim size</p>
                            <p>prada</p>
                            <p>great condition</p>
                            <button><a href="cart.html">add to cart</a></button>
                        </div>
                    </div>
                </div> #}

                <div class="p2">
                    <div class="lookbook">
                        <div class="col1">
                            <h1>Veste Beige unfinished <br>business</h1>
                            <div class="detail-photos">
                                <div class="box one"><img src="./images/ws1.png" alt=""></div>
                                <div class="box two"><img src="./images/ws1.png" alt=""></div>
                                <div class="box three"><img src="./images/ws1.png" alt=""></div> 
                            </div>
                        </div>
                        <div class="col2">
                            <div class="center-img">
                                <img src="./images/ws1.png" alt="">
                            </div>
                        </div>
                        <div class="col3">
                            <h1>105 €</h1>
                            <p>On a des choses à se dire. Cette veste est un modèle blazer à coupe ample offrant des revers crantés,
                                deux poches décoratives à l'avant, une fermeture à double boutonnage ainsi qu'un imprimé à rayures.</p>
                            <p>Meduim size</p>
                            <p>prada</p>
                            <p>great condition</p>
                            {# <button><a href="cart.html">add to cart</a></button> #}
                        </div>
                    </div>
                </div>
                <div class="p3">
                    <div class="lookbook">
                        <div class="col1">
                            <h1>Veste Orange simple <br> et chic</h1>
                            <div class="detail-photos">
                                <div class="box one"><img src="./images/tom.PNG" alt=""></div>
                                <div class="box two"><img src="./images/tom.png" alt=""></div>
                                <div class="box three"><img src="./images/tom.png" alt=""></div>
                            </div>
                        </div>
                        <div class="col2">
                            <div class="center-img">
                                <img src="./images/tom.PNG" alt="">
                            </div>
                        </div>
                        <div class="col3">
                            <h1>235 €</h1>
                            <p>Come here, on a des choses à se dire. Cette veste est un modèle blazer à coupe ample offrant des revers crantés,
                                deux poches décoratives à l'avant, une fermeture à double boutonnage ainsi qu'un imprimé à rayures.</p>
                            <p>Meduim size</p>
                            <p>Ralph Lauren</p>
                            <p>great condition</p>
                            {# <button><a href="cart.html">add to cart</a></button> #}
                        </div>
                    </div>
                </div>
                <div class="p4">
                    <div class="lookbook">
                        <div class="col1">
                            <h1>Veste Orange simple <br> et chic</h1>
                            <div class="detail-photos">
                                <div class="box one"><img src="./images/costumewomen.PNG" alt=""></div>
                                <div class="box two"><img src="./images/costumewomen.PNG" alt=""></div>
                                <div class="box three"><img src="./images/costumewomen.PNG" alt=""></div>
                            </div>
                        </div>
                        <div class="col2">
                            <div class="center-img">
                                <img src="./images/costumewomen.png" alt="">
                            </div>
                        </div>
                        <div class="col3">
                            <h1>235 €</h1>
                            <p>Come here, on a des choses à se dire. Cette veste est un modèle blazer à coupe ample offrant des revers crantés,
                                deux poches décoratives à l'avant, une fermeture à double boutonnage ainsi qu'un imprimé à rayures.</p>
                            <p>Meduim size</p>
                            <p>prada</p>
                            <p>great condition</p>
                            {# <button><a href="cart.html">add to cart</a></button> #}
                        </div>
                    </div>
                </div>
            {# </div> #}
        </div>
        
        
</div>  
<div class="products">      
    {# <!--script-link-----------> #}
    <div class="might-like">
        <br><br>
        <h1>Femmes</h1><br>
        <div class="vetements" id="vetement">


            {% for article in WOMEN|slice(0,4) %}
        
                <div class="item"> 
                    <a href="product.html">
                        <img src="images/products/{{ article.design }}" alt="" class="item-img"> {# ./images/dude.png #}
                    </a>
                    <a href="{{ path ('prod', { id:article.id }) }}" ><p>{{ article.title }}</p></a>
                    <p class="prix">{{ article.prix }} €</p>
                </div>
            {% endfor %} 
            
            <div class="item">  <a href="/women"><i class="fas fa-arrow-right"></i> voir plus</a></div>
        </div>
        <br><br><br>
        <h1>Hommes</h1><br>
        <div class="chaussures" id="chaussures">
            
            {% for article in MEN|slice(0,4) %} 
                <div class="item"> 
                    <a href="product.html">
                        <img src="images/products/{{ article.design }}" alt="" class="item-img"> {# ./images/dude.png #}
                    </a>
                   <a href="{{ path ('prod', { id:article.id }) }}" ><p>{{ article.title }}</p></a>
                   <p class="prix">{{ article.prix }}</p>
                </div>
            {% endfor %} 


            
            <div class="item">  <a href="/men"><i class="fas fa-arrow-right"></i> voir plus</a></div>
        </div>
        <br><br><br>

        <h1>Accessoires</h1><br>
        <div class="accessoires" id="accessoires">
             {% for article in ACC|slice(0,4) %} 
                <div class="item"> 
                    <a href="product.html">
                        <img src="images/products/{{ article.design }}" alt="" class="item-img"> 
                        
                    </a>
                    <A href="{{ path ('prod', { id:article.id }) }}" ><p>{{ article.title }}</p></a>
                    <p class="prix">{{ article.prix }} €</p>
                </div> 
            {% endfor %}
           
            <div class="item"> <a href="/acc"><i class="fas fa-arrow-right"></i> voir plus</a></div>
        </div>
    </div> 
    <br>
</div>
    <div class="footer">
        <div class="left-side">
            <div class="info">
                <p class="tit">INFORMATIONS SUR L'ENTREPRISE</p>
                <p>Qui Sommes-Nous?</p>
                <p>Affilié</p>
                <p>Blogger</p>
            </div>
            <div class="centre-aide">
                <p class="tit">CENTRE & D'AIDE</p>
                <p>Livraison</p>
                <p>Retour</p>
                <p>Commande</p>
                <p>Statut De Commande</p>
            </div>
            <div class="aide">
                <p class="tit">AIDE</p>
                <p>Nous Contacter</p>
                <p>Paiement</p>
                <p>Points Bonus</p>
            </div>
        </div>
        <div class="right-side">
            <p class="tit">trouver nous sur</p>
            <div class="social-media">
                <a href=""><img src="./images/facebook.png" alt=""></a>
                <a href=""><img src="./images/instagram.png" alt=""></a>
                <a href=""><img src="./images/youtube.png" alt=""></a>
            </div>
            <p>ABONNEZ-VOUS À NOTRE NEWSLETTER POUR SUIVRE TOUTE L'ACTUALITÉ SHEIN EN AVANT-PREMIÈRE ! (VOUS POUVEZ VOUS DÉSABONNER À TOUT MOMENT).</p>
            <div><input type="text" placeholder="Votre email"><button>S'abonner</button></div>
        </div>
    </div>



    <!-- Include jQuery -->
{# -------Jquery-------------------- #}
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    {# -------lightslider.js--------------- #}
    <script type="text/javascript" src="js/lightslider.js"></script>    
    
    <script src="http://code.jquery.com/jquery-latest.js"></script> 
    <script src="js/jquery-latest.js"></script> 
    <!-- Include the slider plugin -->
    <script type="text/javascript" src="js/jquery.bbslider.min.js"></script>

    <script>
        $('.under').bbslider({
            auto:  true,
            timer: 2500,
            loop:  true
        });

        // When the user scrolls the page, execute myFunction
        window.onscroll = function() {myFunction()};

        // Get the header
        var header = document.getElementById("myHeader");


        // Get the offset position of the navbar
        var sticky = header.offsetTop;
        
        // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }
    </script>
{% endblock %}